@charset "UTF-8";

/*em HTML é id em CSS é #
em HTML é class em CSS é . */
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(13, 59, 144)
}

h1#principal {
    text-align: center;
    background-color: rgb(92, 92, 227);
    color: white;
}

h2 {
    color: rgb(12, 85, 222)
}

.basico {
    color: rgb(92, 92, 227);
}

.intermediario {
   color: rgb(130, 227, 92);
}

.avancado {
    color: rgb(227, 146, 92);
}

.destaque {
    background-color: rgb(234, 234, 147);
}