@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    background: #233eff no-repeat;
    background-size: contain; 
    /*background-color: black;
            background-image: url(imagens/wallpaper002.jpg);
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed*/
}

h1{
    color:white;
    text-shadow: 3px 3px 0px #192aad;
    padding: 10px;
}

